{% extends "base.html" %}

{% block title %}Reporte_fono{% endblock %}
{% block subtitle %}Reportes Audios Fonoaudiólogos {{ nombre_usuario }} {% endblock %}

{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}

{% block content %}
<div class="chart-container" style="width: 50%; margin: 0 auto;">
    <h2 style="font-size: 20px; text-align: center; margin-bottom: 20px;">Gráfico de Género de Usuarios</h2> <!-- Título del gráfico con letras más pequeñas, centrado horizontalmente y separado del gráfico -->
    <canvas id="generoChart" width="500" height="500"></canvas> <!-- Ajusta el ancho y alto aquí -->
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('generoChart').getContext('2d');
    var generoData = {{ genero_data|safe }};
    var labels = Object.keys(generoData);
    var data = Object.values(generoData);

    var generoChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Género de Usuarios',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false, // Desactiva la capacidad de respuesta
            maintainAspectRatio: true, // Mantiene el aspecto
        }
    });
</script>
{% endblock %}
