#Archivos temporales
*.tmp
*.log
.log.
*.cache
.cache.
*.pyc
*.pyo
*.pyd
*.class

#Archivos de respaldo
*~
*.backup

#Directorios
pycache/
__pycache__/
node_modules/
archivos/

#Entornos virtuales de Python
.venv
.env