{% extends "base.html" %}

{% block title %}Formulario Comunicativo{% endblock %}

{% block subtitle %}<h3 class="subtitulo">Formulario Participación Comunicativo-Social</h3><br><h4 class="bajada">Protocolo Desarrollado por el Dr. Reinaldo Salazar </h4>{% endblock %}


{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}

{% block content %}

<form action="" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <label for="nombre">Nombre Paciente: </label>
    {{ formComu.nombre }}
  </div>

  <div class="form-group">
    <label for="ano_nac">Año Nacimiento Paciente: </label>
    {{ formComu.ano_nac }}
  </div>

  <div class="form-group">
    <label for="genero_usuario">Género Paciente: </label>
    {{ formComu.genero_usuario }}
  </div>

  <div class="respuestas">
        
      {% for relacion in relaciones %}
    <h3>{{ relacion.tipo_relacion }}</h3>

    <div class="form-group">
        <label for="frecuencia_conv">¿Con qué frecuencia se comunica con el paciente?: </label>
        {{ formResp.frecuencia_conv }}
    </div>

    <div class="form-group">
        <label for="duracion_conv">¿Cuál es la duración de estas conversaciones?: </label>
        {{ formResp.duracion_conv }}
    </div>

    <div class="form-group">
        <label for="funcion_conv">¿De qué tratan las conversaciones?: </label>
        {{ formResp.funcion_conv }}
    </div>

    <div class="form-group">
        <label for="satisfaccion_conv">¿Cuál es su nivel de satisfacción con esta comunicación?: </label>
        {{ formResp.satisfaccion_conv }}
    </div>

    <div class="form-group">
        <label for="complementos">Otros aspectos cualitativos para complementar: </label>
        {{ formResp.complementos }}
    </div>
    {% endfor %} 
  </div>

  <button type="submit" class="button">Guardar</button>

</form>

<style>
  .form-group {
    margin-top: 20px; 
  }

  .button {
    margin-top: 30px;
  }

  .text {
    font-style: italic;
  }
  .subtitulo{
    font-size: 45px;
  }
  .bajada{
    font-size: 25px;
  }
  .respuestas {
    margin-left: 25px;
  }


</style>

{% endblock %}