{% extends "base.html" %}

{% block title %}Inicio{% endblock %}
{% block subtitle %}Inicio{% endblock %}
{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}
{% block content %}

Bienvenidos a Cuido Mi Voz
Somos una plataforma experimental desarrollada por profesionales de fonoaudiología e ingeniería, con el objetivo de impactar la salud de personas mayores en particular, y de todos los chilenos en general.
Creemos que la salud de voz y habla, junto con otros aspectos que aborda la fonoaudiología, son parte importante de una buena calidad de vida.

{% endblock %}