{% extends "base.html" %}

{% block title %}Usuarios{% endblock %}
{% block subtitle %}Listado Usuarios {% endblock %}

{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}

{% block content %}
<br>
<table id="tabla">
    <thead> <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Tipo Usuario</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in list %}
      <tr> 
        <td>
        {{ item.username }}
      </td>
        <td>
        {{ item.nombre }} {{ item.apellido }}
      </td>  

        <td>
        {{ item.tipo_usuario }}
      </td> 
        <td>
        {{ item.email }}
      </td> 
      <td>
        <button type="submit" class="button">Editar Correo</button>
        <button type="submit" class="button">Resetear Contraseña</button>
      </td>

    </tr>
    {% endfor %}
    </tbody>
    </table>

 <style>
    .subtitulo { 
        font-size:25px;
    }


 </style>


{% endblock %}