{% extends "base.html" %}

{% block title %}Log{% endblock %}
{% block subtitle %}Log {% endblock %}

{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}

{% block content %}
<h3 class="subtitulo" >Registros de la plataforma</h3>
<br>
<table id="tabla">
    
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Texto</th>

      </tr>
    </thead>
    <tbody>
        {% if log %}
        {% for l in log %} 
        <tr>
            <td>{{ l.fecha_inicio }}</td>
            <td>{{ l.username }}, inicia sesión</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if logForm1 %}
        {% for f1 in logForm1 %}
        <tr>
            <td>{{ f1.fecha_ingreso }}</td>
            <td>{{ f1.id_fono }}, ha ingresado formulario sociocomunicativo</td>
        </tr>
        {% endfor %}
        {% endif %}

    </tbody>
  </table>

 <style>
    .subtitulo { 
        font-size:25px;
    }
    #tabla{
        margin
    }

 </style>

{% endblock %}