{% extends "base.html" %}

{% block title %}Log{% endblock %}
{% block subtitle %}Log {% endblock %}

{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}

{% block content %}
<h3 class="subtitulo" >Registros de la plataforma</h3>
<br>
<table id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Texto</th>
        </tr>
    </thead>
    <tbody>
        {% for item in log %}
        <tr>
            <td>
                {% if item.fecha_inicio %}
                    {{ item.fecha_inicio }}
                {% elif item.fecha_ingreso %}
                    {{ item.fecha_ingreso }}
                {% else %}
                    {{ item.fecha_registro }}
                {% endif %}
            </td>
            <td>
                {% if item.fecha_inicio %}
                    {{ item.username }} inicia sesión
                {% elif item.fecha_ingreso %}
                    {{ item.id_fono }} ha ingresado formulario sociocomunicativo
                {% else %}
                    {{ item.id_usuario }} ha registrado un audio fono
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

 <style>
    .subtitulo { 
        font-size:25px;
    }
    #tabla{
        margin
    }

 </style>

{% endblock %}