{% extends "base.html" %}

{% block title %}Inscripción Fonoaudiólogo{% endblock %}
{% block subtitle %}
<h3 class="subtitulo">Inscripción Fonoaudiólogo</h3>
<br>
<h4 class="bajada">Gracias por tu interés en nuestra plataforma Cuido mi voz. 
  <br>Una vez que tengamos tus datos, te enviaremos un usuario y clave a tu email.
  <br>Cualquier duda, puedes escribir a rtdfchile@gmail.com </h4>
{% endblock %}

{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  
    <div class="form-group">
      <label for="nombre_fono">Nombre: </label>
      {{ insc_fono.nombre_fono }}
    </div>
  
    <div class="form-group">
      <label for="apellido_fono">Apellido: </label>
      {{ insc_fono.apellido_fono }}
    </div>
  
    <div class="form-group">
      <label for="genero_usuario">Email: </label>
      {{ insc_fono.email_fono }}
    </div>
  
    <div class="form-group">
      <label for="telefono_fono">Teléfono: </label>
      {{ insc_fono.telefono_fono }}
    </div>

    <div class="form-group">
        <label for="comuna_residencia">Comuna de Residencia: </label>
        {{ insc_fono.comuna_residencia }}
      </div>

    <button type="submit" class="button">Enviar Formulario</button>
  </form>

  <style>
    .form-group {
      margin-top: 30px; 
    }
  
    .button {
      margin-top: 30px;
    }
  
    .text {
      font-style: italic;
    }
    .subtitulo {
      font-size: 35px;
    }
    .bajada {
      font-size: 20px;
    }
  
  </style>

  

{% endblock %}