{% extends "base.html" %}

{% block title %}Restablecer Contraseña{% endblock %}
{% block subtitle %}Restablecer Contraseña{% endblock %}

{% block fecha %}
<div class="info">
    <span class="date">
      <span class="month">{{ fecha_actual|date:"F" }} </span>
      <span class="day">{{ fecha_actual|date:"d" }}</span>
      <span class="year">{{ fecha_actual|date:"Y" }}</span>
    </span>
  </div>
{% endblock %}



{% block content %}

<div class="container-sm">
    <hr>
    <h1>Reestablecer contraseña</h1>
    <form method="POST" action="" id="modal-post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-6 col-sm-4">
                <div class="form-group">
                    <label for="password">Contraseña nueva:</label>
                    <input type="password" class="form-control bg-light" id="contrasena" name="contrasena" required>
                </div>
                <br>

                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>

    </form>
    <hr>
</div>

{% endblock %}

